{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Table Time</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@332&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="navbar-fixed">
      <nav>
        <div class="nav-wrapper orange lighten-3">
          <ul>
            <li>
              <a href="/" class="left brand-logo">&nbsp;&nbsp;Table Time</a>
            </li>
          </ul>
          <ul class="right">
            <li><a class="blue-text text-darken-2" href="{% url 'home'%}">Search</a></li></span>
            {% if user.is_authenticated %}
            <li>
              <a class="blue-text text-darken-2" href="{% url 'saved_restaurants' %}">View Saved Restaurants</a>
            </li>
            <li><a class="blue-text text-darken-2"href="{% url 'user_profile' %}">Profile</a></li>
            {% else %}
            <li><a class="blue-text text-darken-2"href="{% url 'signup' %}">Sign Up</a></li>
            <li><a class="blue-text text-darken-2"href="{% url 'login' %}">Log In</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>
    <main class="container">{% block content %} {% endblock %}</main>

    <footer class="page-footer orange lighten-3">
      <div class="right">
        All Rights Reserved, &copy; 2021 Table Time &nbsp;
      </div>
    </footer>
  </body>
</html>
