{% extends 'base.html' %} {% block content %}

<h1>Restaurants List</h1>

{% for restaurant in restaurant %}
<div class="card">
  <a href="{% url 'detail' restaurant.id %}">
    <div class="card-content">
      <span class="card-title">{{ restaurant.name }}</span>
      <p>City: {{ restaurant.city }}</p>
      <p>Cuisine: {{ restaurant.cuisine }}</p>
      <p>Cost : {{ restaurant.cost }}</p>
      {% if restaurant.cost > 2 %}
      <p>Cost: Expensive</p>
      {% else %}
      <p>Cost: {{ restaurant.cost }}</p>
      {% endif %}
    </div>
  </a>
</div>
{% endfor %} {% endblock %}
