{% extends 'base.html' %} {% block content %}

<h1>Restaurants List</h1>

{% for restaurant in business_data %}
<div class="card">
  <a href="{% url 'detail' restaurant.name restaurant.id %}">
    <div class="card-content">
      <span class="card-title">{{ restaurant.name }}</span>
      <img src="{{ restaurant.image_url }}" />
      <p>Cuisine: {{ restaurant.categories.0.title}}</p>
      <p>Cost : {{ restaurant.price }}</p>
      <p>Rating : {{ restaurant.rating }}</p>
      <p>Address : {{ restaurant.location.display_address|join:", "}}</p>
    </div>
  </a>
</div>
{% endfor %} {% endblock %}
