{% extends 'base.html' %} {% block content %}

<h1>Account</h1>
<hr />
<p>Personal Information</p>
<p>First name: {{ user.first_name }}</p>
<p>Last name: {{ user.last_name }}</p>
<p>E-mail: {{ user.email }}</p>
<p>Phone: {{ user_profile.phone }}</p>
<p>Location: {{ user_profile.address }}</p>

<h5>Your Reservations<h5>
{{ user.reservation_set.count }}
{% if reservations.count %} {% for reservation in reservations %}
<div class="card">
  <div class="card-content">
    <span class="card-title">
      <p>Restaurant: {{reservation.restaurant_name}}</p>
      <p>Date: {{ reservation.date }}</p>
      <p>Time: {{ reservation.time }}</p>
      <p>People: {{ reservation.people }}</p>
      <p>Occasion: {{ reservation.occasion }}</p>
      <li><a href="{% url 'delete_reservations' reservation.id %}">Delete Reservation</a></li>
      <li><a href="{% url 'update_reservations' reservation.id %}">Update Reservation</a></li>
  </div>
</div>
{% endfor %} {% else %}
<h5>No Reservations</h5>
{% endif %}

<li><a href="{% url 'logout' %}">Log Out</a></li>
{% endblock %}
